# PostgreSQL Credentials
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5433

# MinIO Credentials
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_SECRET_KEY=

# Airflow Credentials
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=

# Grafana Credentials
GRAFANA_ADMIN_PASSWORD=

# ClickHouse Credentials
CLICKHOUSE_DB=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=

# Neo4j Credentials
NEO4J_USER=
NEO4J_PASSWORD=

# Superset Credentials
SUPERSET_SECRET_KEY=
SUPERSET_ADMIN_USER=
SUPERSET_ADMIN_PASSWORD=

# Backend / API Credentials
JWT_SECRET_KEY=
